.text--blocks [data-scroll='out'] .char {
    visibility: hidden;
}

.text--blocks [data-scroll='in'] {
    overflow: hidden;
    position: relative;
}

    .text--blocks [data-scroll='in'] .char {
        transition-delay: 0.5s;
    }

    .text--blocks [data-scroll='in']:after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        animation: block 0.5s 0.25s both;
    }

@-moz-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%, 55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@-webkit-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%, 55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@-o-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%, 55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%, 55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}
